<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- <title>Document</title> --}}
    </head>

    <body class="home-page" style="background-image: url('/img/self-serve-coffee-shop.jpg);"  alt="fake pic2" >
       
                <h1 class="cafe-name"></h1>
                <span></span><br><br>
                   {{!-- <h1 class="bg" style="background-image: url(/img/welcome-to-my-business.jpg');"></h1>    --}}
                   <img width="446px" height="297px"   class="niceImage bg" src="/img/outdoor-teal-cafe-tables.jpg" alt="fake pic">    
               
                <div class="jumbotron big-banner bg">

                    <h1 class="display-4 "> WELCOME to EXPRESSO CAFE </h1>
                    <p class="lead">This is a simple app for Expresso cafe waiters, to choose number of days in a week  they desire to
                        work on based on their availability.
                        .</p>
                    {{!-- <hr class="my-4"> --}}
                    <p>Expresso cafe management can also monitor the site and see how many waiter are available for each day and make changes if needed
                        .</p>

                    <button class="homeBtn center" name="link"><a href="/waiters">Waiters Schedule</a></button>
                </div>

                {{!-- <button class="homeBtn center" name="link"><a href="/days">Admin</a></button> --}}
            </div>
    </body>

    </html>