<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Document</title> --}}
</head>
<body>
    <div class="home-page">
        <h1 class="cafe-name">Jah's Café</h1>
        <span>Live | Love | Laugh</span><br><br>
             <button class="homeBtn" name="link"><a href="/waiters">Waiters Schedule</a></button><br>
             <button class="homeBtn" name="link"><a href="/days">Administrator</a></button>
    </div>
</body>
</html>