.form-group {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    
}

 .formGroupExampleInput {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
} 


.smith {
    color : white
  }



 .big-banner {
background-image: url('https://burst.shopify.com/photos/espresso-machine-pours-out-hot-and-fresh-shot?q=cafe');


   }

   .blue{
       background-color: blue;
   }
   .lime{
       background-color:lime;
   }
   .grey{
    background-color: grey;
}

.red{
background-color:red;

}
.white {

    background-color: white;
}
.orange {

background-color: orange;
}

.skyblue{

    background-color: skyblue;
}

.lightpink{

    background-color: lightpink;
}

table, th, td {
    border: 1px solid black;
  }

    ul{

list-style: none;
  

   } 

  

   .big-banner{
       background: url('/https://burst.shopify.com/photos/espresso-machine-pours-out-hot-and-fresh-shot?q=cafe') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.clearWaiters{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    color: red; 

}

.regy{
  
    color: green;

}

/* body{

 background-image: url('/img/slide-2.jpg'); 



} */

/* ul{

    list-style: none;
         display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;   
    
    
       }  */